

<h1>Edit Employee </h1>
<% if is_admin? %>
<%= form_for(@employee) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name%><br>

    <%= f.label :bio %>
    <%= f.text_area :bio%><br>

    <%= f.label :headshot %>
    <%= f.text_field :headshot %><br>

    <%= f.submit "Submit" %>
    <%end%>
    <%end%>

