
<% if is_admin? %>
<h1>Edit Employee </h1>

<%= form_for(@employee) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :value => @user.address_street %><br>

    <%= f.label :bio %>
    <%= f.text_field :bio, :value => @user.address_land %><br>

    <%= f.label :headshot %>
    <%= f.text_field :headshot %><br

    <%= f.submit "Submit" %>

    <%end%>

    <%end%>