<h1><img src="/assets/Star.png" height="40"/> Our Stars <img src="/assets/Star.png" height="40"/></h1>


<img src="<%=@employee.headshot%>" height="300" width="auto"><br>
<% if is_admin? %>
<%=link_to "Make a New Employee", new_employee_path%>
<%end%>
<h3> <%=@employee.name%></h3>
<h4> <img src="/assets/Star.png" height="20"/><%="#{average_rating(@employee)}"%> Average Rating</h4>
<p><%=@employee.bio%></p>

<% @employees.each do |e| %>
    <h4> <%=link_to "#{e.name}", employee_path(e), style: 'color:#000000;'  %> - <img src="/assets/Star.png" height="20"/><%="#{average_rating(e)}"%></h4>
   
    <%if is_admin? %>
   <%= button_to "Delete Employee", employee_path(e), method: :delete %>
   <%= link_to "Edit Employee", edit_employee_path(e) %>
  <%end%> 
   <%end%>

