<h1>Employee Spotlight</h1>
<% if is_admin? %>
<%=link_to "Make a New Employee", new_employee_path%>
<%end%>
<h2> <%=@employee.name%></h2>
<img src="<%=@employee.headshot%>" height="300" width="auto"><br>
<%=@employee.bio%>

<%=@employee.name%>

<% @employees.each do |e| %>
    <h2> <%=link_to "#{e.name}", employee_path(e) %> - <%="#{e.name}"%> Rating</h2>
   
    <%if is_admin? %>
   <%= button_to "Delete Employee", employee_path(e), method: :delete %>
   <%= link_to "Edit Employee", edit_employee_path(e) %>
  <%end%> 
   <%end%>

