

<h1>Employee Spotlight</h1>
<h2> <%=@employee.name%></h2>
<img src="<%=@employee.headshot%>" height="300" width="auto"><br>
<%=@employee.bio%>

<% @employees.each do |e| %>
    <h2> <%=link_to "#{e.name}", employee_path(e) %> - <%="#{e.name}"%> Rating</h2>
   Needs to be a class method to determine average. Seed data first
    <%end%>

<h2> 