<h1> Update Job Request </h1>

<%= form_for(@job) do |f| %>
    <%= f.label :job_address_street %>
    <%= f.text_field :job_address_street %><br>

    <%= f.label :job_address_land %>
    <%= f.text_field :job_address_land %><br>

    <%= f.label :service_date %>
    <%= f.text_field :service_date %><br>


  <h3>Services Requested</h3>

    <%=f.check_box("services", {:multiple => true }, "Deku Tree Trim", nil)%>
    <%=f.label :services, "Deku Tree Trim"%><br>

    <%=f.check_box("services", {:multiple => true }, "Mushroom Fertilization", nil)%>
    <%=f.label :services, "Mushroom Fertilization"%><br>

    <%=f.check_box("services", {:multiple => true }, "Fire Piranha Plant Removal", nil)%>
    <%=f.label :services, "Fire Piranha Plant Removal"%><br>

    <%=f.check_box("services", {:multiple => true }, "Turtle Shell Repellant", nil)%>
    <%=f.label :services, "Turtle Shell Repellant"%><br>

    <%=f.check_box("services", {:multiple => true }, "Bush Coin Collection", nil)%>
    <%=f.label :services, "Bush Coin Collection"%><br>

    <%=f.check_box("services", {:multiple => true }, "Banana Tree Enhancement", nil)%>
    <%=f.label :services, "Banana Tree Enhancement"%><br>

    <%=f.check_box("services", {:multiple => true }, "Lava Excavation", nil)%>
    <%=f.label :services, "Lava Excavation"%><br>

    <%=f.label :services, "Other"%>
    <%=f.text_field("services", {:multiple => true })%>
    <br>

    <p> Request an employee for this service: </p>
    <%= f.label "employee_id" %>
    <%= f.collection_select :employee_id, Employee.all, :id, :name %><br>

    <% if is_admin? %>
    <h3> Admin Section: </h3>
    <%= f.label :description %>
    <%= f.text_field :description %><br><br>

    <%= f.label :job_picture %> <br>
    <%= f.text_field :picture %><br><br>
    <%end%>

    <%= f.submit "Submit" %>
    <% end %>