<h1> Job Index page</h1>

<% @jobs.each do |job| %>
    <img src="<%=job.picture%>" height="150" width="auto"><br>
    <h3><%=link_to job.description, job_path(job) %><br></h3>
     <%=job.job_address_land%><br>
     <% if !job.reviews.empty? %>
     <%=job.reviews[0].rating%><br><br>
     <%end%>
     <%if is_admin? %>
     <%= link_to "Edit Job", edit_job_path(job) %>
     <%= button_to "Delete Job", job_path(job), method: :delete %>
   
    <%end%>
    <%end%>
