<h1> Service Request </h1>

<%= form_for(@job) do |f| %>
    <%= f.label :job_address_street %>
    <%= f.text_field :job_address_street %><br>

    <%= f.label :job_address_land %>
    <%= f.text_field :job_address_land %><br>

    <%= f.label :service_date %>
    <%= f.text_field :service_date %><br>


    <%= f.label :services %><br><br>

    <%=f.check_box("services", {:multiple => true }, "Deku Tree Trim", nil)%>
    <%=f.label :services, "Deku Tree Trim"%><br>

    <%=f.check_box("services", {:multiple => true }, "Mushroom Tree Fertilization", nil)%>
    <%=f.label :services, "Mushroom Tree Fertilization"%><br>



    <p> Select an available employee from our roster: </p>
    <%= f.label "employee_id" %>
    <%= f.collection_select :employee_id, Employee.all, :id, :name %><br>
    <p>Or let us select for you </p>

    <%= f.submit "Submit" %>
    <% end %>