<h1> Job Details: </h1>

<img src="<%=@job.picture%>" height="300" width="auto"><br>
<h4>Description</h4>
<p><%=@job.description%></p>
<h4>Date</h4>
<p><%=@job.service_date%><p>

<h4>Location</h4> 
<% if current_user || is_admin?%>
<p><%=@job.job_address_street%></p>
<%end%>
<p><%=@job.job_address_land%></p>

<h4>Employee:</h4> 
<%=@job.employee.name%>

<h4>Services Requested </h4>

<p><% @job.services.each do |service|%></p>
   <%= service %><br>
   <%end%><br>


   <% if is_admin?%>
   <p><%= link_to "Edit Job Request", edit_job_path(@job) %></p>
   <br><br>
  
   <%= button_to "Delete Job", job_path(@job), method: :delete %><br>
   <%end%>