<%= render partial: 'layouts/errors', locals: {object: @user}  %>
<h1> This is a New User page! </h1>

<%= form_for(@user) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %> 
    <%= f.password_field :password %>

    <%= f.submit "Sign Up" %>
    <% end %>