<%= render partial: 'layouts/errors', locals: {object: @user}  %>
<h1> This is a New User page! </h1>

<%= form_for(@user) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <%= f.label :password %> 
    <%= f.password_field :password %><br>

    <%= f.label :full_Name %>
    <%= f.text_field :name %><br>
    
    <%= f.label :street_Address %>
    <%= f.text_field :address_street %><br>
    
    <%= f.label :mushroom_region %>
    <%= f.text_field :address_land %><br><br>

    <%= f.label :image %> <br>
    <%= f.file_field :image %><br><br>
    

    <%= f.submit "Sign Up" %>
    <% end %>

   