<h1> Welcome <%=@user.name%> </h1>

<% if @user.image.attached? %>
<img src="<%=url_for(@user.image)%>" height="200" width="auto">
    
    <% else %>
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC7eWPkOENnUQaLDHxVf6O9LLKUVIyN5XI9qRMZcGiUjfHy1mYMJo7ahQWVghk111ciYs&usqp=CAU" height="200" width="auto">
    <% end %><br>

 <%=@user.address_street %><br>
 <%=@user.address_land %>

<% if @user[:id] == session[:user_id]%>
 <%= button_to "Delete User", user_path(@user), method: :delete %>
 <%end%>
 
 