<h1> <img src="/assets/Red_Mushroom.png" height="40"/> Welcome  <%=first_name(@user.name)%> <img src="/assets/Red_Mushroom.png" height="40"/></h1>

<div class="user-info">
<% if @user.image.attached? %>
<img src="<%=url_for(@user.image)%>" height="200" width="auto">
    
    <% else %>
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC7eWPkOENnUQaLDHxVf6O9LLKUVIyN5XI9qRMZcGiUjfHy1mYMJo7ahQWVghk111ciYs&usqp=CAU" height="200" width="auto">
    <% end %><br>
<h3><%=@user.name %></h4>
 <p><%=@user.address_street %><br>
 <%=@user.address_land %><br></p>

 <% if @user[:id] == session[:user_id]%>
 <p><%= link_to "Edit Your Information", edit_user_path(@user) %></p>
 <%= button_to "Delete Account", user_path(@user), method: :delete %>
 <%end%>
<h2>Your Jobs:</h2>

<%@user.jobs.each do |j|%>
   
    <h4><%=link_to j.description, job_path(j), style: 'color:#0000ff;' %></h4>
    <%=j.service_date %><br>
    <img src="<%=j.picture%>" height="150" width="auto"><br>
    <% if j.reviews.empty? %>
    <%=link_to "Review this job", new_job_review_path(j) %><br><br>
    <%end%>
    <%end%>
    <br>
    </div>
 
 
 