<!DOCTYPE html>
<html>
  <head>
    <title>GreenMushroomLandscaping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="top-nav">
  <br>
  <% if session[:user_id]%>
  <%= link_to "Schedule an Appointment", new_job_path %>
  <%= link_to "Recent Jobs", jobs_path %>
  <%= link_to "Employees", employees_path %>
  <%= link_to "Log Out", logout_path, method: :delete %>
   
  <% else %>
  <%= link_to "Login", login_path %>
  <%= link_to "Sign Up", signup_path%>
  <%end%>

  
  
  </div>

  <body>
    <%= yield %>
  </body>
</html>
 