<!DOCTYPE html>
<html>
  <head>
    <title>1UP Landscaping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <div class="top-logo">

<%= link_to root_path do %>
    <img src="/assets/Top_Bar.png" height="132"/> 
 <% end %>

 </div>

 
 <div class="checkerboard"> <img src="/assets/checkerboard_top_3.jpg"/> 
 </div>
 <% if session[:user_id]%>

 <div class="nav-text">
 
<%= link_to "My Account", user_path(session[:user_id]), style: 'color:#000000;' %>
 <%= link_to "Job Request", new_job_path, style: 'color:#000000;' %> 
 <%= link_to "Portfolio", jobs_path, style: 'color:#000000;' %>
 <%= link_to "Employees", employees_path, style: 'color:#000000;' %>
 <%= link_to "Logout", logout_path, method: :delete, style: 'color:#000000;' %>
</div>
 <% else %>
 </div>
 <div class="nav-text-welcome">
 <%= link_to "Login", login_path %>
 <%= link_to "Signup", signup_path%>
 <%end%>
 </div>

 


  <body>
  <div class="bg-image">
  <img src="/assets/Site_BG_image.png" width="1020"/> 
  </div>
  <div class="wrapper">
  
    <%= yield %>
    <footer class="branding">
    <small>&copy; 2021 <strong>1Up Landscaping</strong></small>
  </footer>
</div>
  </body>
</html>
 